* {
    font-family: 'Open Sans', 'sans-serif';
}

.registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #00bcd4, #3f51b5);
}

.registration-content {
    width: 400px;
}

.registration-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
    width: 100%;
}


.form-demo .card {
    min-width: 450px;
}

.form-demo .card form {
    margin-top: 2rem;
}

.form-demo .card .field {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}