.layout {
    display: flex;
    /* position: relative;   */
}


.layout-main {
    flex: 1;
    /* background: linear-gradient(to bottom right, #00bcd4, #3f51b5); */
    width: 100%;
}

.layout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    /* position: fixed; */
}

.layout-header-content {
    display: flex;
    align-items: center;
}

.layout-header-title {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 400;
}

.layout-login-button {
    margin-left: 10px;
}

.layout-content {
    padding: 20px;
    color: black;
}

.layout-menubar {
    margin-left: 20px;
}

.layout-sidebar-button {
    margin-right: 10px;
}